*,
*::before,
*::after {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Georgia; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  background-color: rgba(91, 91, 91);
}

.noscroll {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

header {
  border-bottom: 4px solid #dc9600;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  width: 60px;
  height: 60px;
  margin-right: 2em;
  fill: #dc9600;
  stroke: #141414;
}
.logo__icon-path {
  fill: #dbaf50;
  fill: #000000;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  color: #dc9600;
  font-size: clamp(1rem, 0.2841rem + 3.5794vw, 2rem);
  -webkit-text-stroke: 0.05rem #141414;
}

form {
  display: flex;
  position: relative;
  width: fit-content;
} /* Убираем контур */

input[type="text"] {
  width: 320px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
  border: rgb(207, 173, 40);
}

button[type="reset"] {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 26px;
  width: 2rem;
  top: 6%;
  right: 18%;
  color: #666;
  border: 0;
  display: none;

  /* padding: 0 10px; */
  /* border-radius: 50%; */
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.3);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

input:valid ~ button[type="reset"] {
  display: block;
}

button {
  margin: 10px 0px 10px 2px;
  width: 6vw;
  max-width: 60px;
  font-size: clamp(0.625rem, 0.446rem + 0.8949vw, 0.875rem);
  border-radius: 10px;
  cursor: pointer;
  color: #373737;
  transition: all 0.2s ease-out;
}
.search__text {
  transition: all 0.2s ease-out;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: #111111;
}

button:hover > .search__text {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #111111;
  transform: scale(1.05);
}

#search__icon {
  display: none;
}

.images__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.image {
  margin: 0.5rem 0.25rem;
  width: calc(33.33% - 1rem);
  height: calc(3rem * 4 + 5rem);
  /* max-height: 200pt; */
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: unset;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.image:hover {
  transform: scale(1.05);
}

.footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  /* background-color: rgba(91, 91, 91); */
  justify-content: space-evenly;
  align-items: center;
}

.footer__link {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  text-decoration: none;
}

.footer__icon2 {
  width: 25%;
  max-width: 60px;
}

.footer__text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 8rem;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: #000000;
}

.footer__year {
  align-self: center;
  width: 60px;
}

a {
  outline: none;
  border: none;
}

.githublink {
  display: flex;
  justify-self: center;
}

.rsslink {
  display: flex;
  padding-right: 10%;
  justify-self: center;
}

.footer__icon {
  width: 10vw;
  height: 10vh;
  max-width: 55px;
  max-height: 55px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 85%;
  max-height: 580px;
  max-width: 900px;
  /* position: relative; */
  /* margin: 0 auto; */
  border-radius: 15px;
}

.modalWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 0 4%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: #d7a029;
  border: 2px solid #d7a029;
  transition: all 0.3s ease-out;
}

.modalWrapper button:hover {
  color: #dcdcdc;
  border: 2px solid #dcdcdc;
}

.imgModal {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  border-radius: 15px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .modalWrapper {
    height: 70%;
  }

  .image {
    width: calc(50% - 1rem);
    height: calc(3rem * 4 + 5rem);
  }

  button {
    width: 7vw;
  }

  button[type="reset"] {
    top: 6%;
    right: 18%;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .modalWrapper {
    height: 50%;
  }

  .logo__icon {
    width: 15vw;
    height: 15vh;
  }

  button[type="reset"] {
    top: 6%;
    right: 20%;
  }

  .image {
    width: calc(50% - 1rem);
    height: calc(2rem * 1 + 4rem);
  }

  .imgModal {
    width: 90%;
    height: auto;
    max-height: 60%;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .modalWrapper {
    height: 60%;
  }

  .image {
    width: calc(50% - 1rem);
    height: calc(2rem * 4 + 5rem);
  }

  .imgModal {
    width: 90%;
    height: auto;
    max-height: 80%;
  }

  button[type="reset"] {
    top: 6%;
    right: 15%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  /* .modalWrapper {
    height: 50%;
    width: 90%;
  } */

  .modalWrapper button {
    margin: 0 !important;
  }

  input[type="text"] {
    margin: 14px 0;
    width: 40vw;
  }
  button {
    width: 2.5rem;
    margin: 14px 0px 14px 2px;
  }

  #search__icon {
    display: flex;
    justify-content: center;
  }

  .search__text {
    display: none;
  }

  .logo__icon {
    margin-right: 5px;
  }
}
